{% load staticfiles %}

<html lang="en">
    <head>
        <title>Movie Recommendations - Cine Ice</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    </head>

    <body>
        <div id="top-div">
            <div id="title">
                <h1><label>Cine Ice</label></h1>
            </div>
            <div id="movie_options">
                <a href="" class="internal_link" id="random_button"><h3>Random</h3></a>
                <a href="" class="internal_link" id="mood_button"><h3>Mood</h3></a>
            </div>
        </div>
        <div id="movies">
            {% for movie in movies %}
                <div id="movie">
                    <div id="movie_title">
                        <h2><a href=""> {{ movie.title }} ({{ movie.release_date }})</a></h2>
                    </div>
                    <div id="poster">
                        <img src="static/{{ movie.poster }}">
                    </div>
                    <div id="grade">
                        <h3>{{ movie.grade }}</h3>
                    </div>
                    <div id="description">
                        <p>{{ movie.description|linebreaksbr }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>